<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4" style="padding-right:40px; border-right: 1px solid #ccc;">
      <% img.forEach(function(post, index) { %>
        <% if (index % 3 == 0)  { %>  
          <div class="span12">
            <h2><a href="/b/<%= post.BOARDNAME %>"><%= post.BOARDNAME %></a></h2>
            <% if (post.CACHED == '1') {%>
							<a href="/cache/?key=<%=post.CONTENTID %>">
							<img src="/cache/?key=<%=post.CONTENTID%>" style = "width:100%" />
							</a>
					  <% } else { %>
						  <a href="<%= post.URL %>">
						  <img src="<%=post.URL%>" style = "width:100%" />
							</a>
						<% } %>
            <p  align="right"><small><a href="/u/<%= post.USERNAME %>"><%= post.USERNAME %></small></p>
          </div>
        <%} %>
      <%}) %>
    </div>

    <div class="span4" style="padding-right:40px; border-right: 1px solid #ccc;">
      <% img.forEach(function(post, index) { %>
        <% if (index % 3 == 1)  { %>  
          <div class="span12">
            <h2><a href="/b/<%= post.BOARDNAME %>"><%= post.BOARDNAME %></a> </h2>
            <% if (post.CACHED == '1') {%>
							<a href="/cache/?key=<%=post.CONTENTID %>">
							<img src="/cache/?key=<%=post.CONTENTID%>" style = "width:100%" />
							</a>
					  <% } else { %>
						  <a href="<%= post.URL %>">
						  <img src="<%=post.URL%>" style = "width:100%" />
							</a>
						<% } %>
            <p align="right"><small><a href="/u/<%= post.USERNAME %>"><%= post.USERNAME %></small></p>
          </div>
        <%} %>
      <%}) %>
    </div>
    
    <div class="span4" style="padding-right:40px; border-right: 1px solid #ccc;">
      <% img.forEach(function(post, index) { %>
        <% if (index % 3 == 2)  { %>  
          <div class="span12">
            <h2><a href="/b/<%= post.BOARDNAME %>"><%= post.BOARDNAME %></a> </h2>
            <% if (post.CACHED == '1') {%>
							<a href="/cache/?key=<%=post.CONTENTID %>">
							<img src="/cache/?key=<%=post.CONTENTID%>" style = "width:100%" />
							</a>
					  <% } else { %>
						  <a href="<%= post.URL %>">
						  <img src="<%=post.URL%>" style = "width:100%" />
							</a>
						<% } %>
            <p align="right"><small><a href="/u/<%= post.USERNAME %>"><%= post.USERNAME %></small></p>
          </div>
        <%} %>
      <%}) %>
    </div>
    
  </div>
</div>
